<a href="https://colab.research.google.com/github/kambrave/Modern-AI-Python-Programming/blob/main/test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World Pakistan Zindabad")

Hello World Pakistan Zindabad

# New Section

heading 1 *Dil* Dil Paistan

In [ ]:
# Define a variable
x = 10

# Use an if statement with indentation
if x > 5:
  print("x is greater than 5")
  print("This line is also part of the if block")

print("This line is outside the if block")

x is greater than 5
This line is also part of the if block
This line is outside the if block

In [ ]:
# Integer data type
my_integer = 10
print(f"Value: {my_integer}, Type: {type(my_integer)}")

# Float data type
my_float = 3.14
print(f"Value: {my_float}, Type: {type(my_float)}")

# String data type
my_string = "Hello, Pakistan!"
print(f"Value: {my_string}, Type: {type(my_string)}")

# Boolean data type
my_boolean = True
print(f"Value: {my_boolean}, Type: {type(my_boolean)}")

# List data type
my_list = [1, 2, 3, "a", "b"]
print(f"Value: {my_list}, Type: {type(my_list)}")

# Tuple data type
my_tuple = (10, 20, 30)
print(f"Value: {my_tuple}, Type: {type(my_tuple)}")

# Dictionary data type
my_dictionary = {"name": "Ali", "age": 25}
print(f"Value: {my_dictionary}, Type: {type(my_dictionary)}")

# Set data type
my_set = {1, 2, 3, 3, 4} # Sets automatically remove duplicates
print(f"Value: {my_set}, Type: {type(my_set)}")

# NoneType data type
my_none = None
print(f"Value: {my_none}, Type: {type(my_none)}")

Value: 10, Type: <class 'int'>
Value: 3.14, Type: <class 'float'>
Value: Hello, Pakistan!, Type: <class 'str'>
Value: True, Type: <class 'bool'>
Value: [1, 2, 3, 'a', 'b'], Type: <class 'list'>
Value: (10, 20, 30), Type: <class 'tuple'>
Value: {'name': 'Ali', 'age': 25}, Type: <class 'dict'>
Value: {1, 2, 3, 4}, Type: <class 'set'>
Value: None, Type: <class 'NoneType'>

In [ ]:
# List with mixed data types
my_mixed_list = [
    1,
    "hello",
    True,
    [10, 20],
    {"name": "Sara", "id": "123"}
]

print(my_mixed_list)
print(f"Type: {type(my_mixed_list)}")

# Accessing elements
print(f"Second element: {my_mixed_list[1]}")
print(f"First element of the nested list: {my_mixed_list[3][0]}")
print(f"Name from the nested dictionary: {my_mixed_list[4]['name']}")

[1, 'hello', True, [10, 20], {'name': 'Sara', 'id': '123'}]
Type: <class 'list'>
Second element: hello
First element of the nested list: 10
Name from the nested dictionary: Sara

In [ ]:
# Complex number example
my_complex_number = 3 + 4j

print(my_complex_number)
print(f"Type: {type(my_complex_number)}")

# Accessing real and imaginary parts
print(f"Real part: {my_complex_number.real}")
print(f"Imaginary part: {my_complex_number.imag}")

(3+4j)
Type: <class 'complex'>
Real part: 3.0
Imaginary part: 4.0